.pin {
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: auto;
    cursor: grab;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    touch-action: none;
}

.pin.pin-active {
    cursor: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

    // Center marker
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5px;
        height: 5px;
        border: none;
        background: transparent;
        border-radius: 50%;
        box-shadow:
        // white border for visibility on dark colors
        // black border for visibility on light colors
            0 0 0 0.5px white,
            0 0 0 1px black,
    }
}

.come-in {
    opacity: 0;
    //transform: scale(0.8);
    animation: comeIn 0.5s ease-out forwards;
}

@keyframes comeIn {
    0% {
        opacity: 0;
        //transform: scale(0.8);
    }
    100% {
        opacity: 1;
        //transform: scale(1);
    }
}