.pin {
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: auto;
    // background-color: var(--pin-color, transparent);
    // //transform: translate(-50%, -50%); // Center the pin on its coordinates
    // opacity: var(--pin-opacity, 1);
}

// .pin-zoom-preview-container{
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     z-index: 100;
// }

.pin.pin-active {
    box-shadow: 0 0 6px rgba(0,0,0,.35);
    background-clip: padding-box;
}