// $app-bg: #111;
// $panel-bg: #181818;
// $accent: #ffce4a;
// $border: #262626;

// $app-bg: #54defd;
// $panel-bg: #FFFBFA; 
// $accent: #4E0250;
// $border: #38A6E5;

$app-bg: #111;
$panel-bg: #181818;
$accent: #F56476;
//$border: #5b554d;
//$border: #E43F6F;
$border: #2e3845;

* {box-sizing: border-box;}

body, html, .app {
    background-color: $app-bg;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    //justify-content: center;
    overflow-x: hidden;
}


.title {
    margin: 1rem 0 0.5rem 0;
    font-size: 2.5rem;
    color: $accent;
    padding-bottom: 1rem;
}

.body {
    font-family: Arial, sans-serif;
    color: white;
    // height: 100vh; // don't have this, let the body grow naturally
    width: 100vw;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem 1rem; // row-gap column-gap
    padding: 1rem;
    background: $panel-bg;
    border-bottom: 1px solid $border;
}

.control-row {
    // create 3 column grid
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
}

.panel {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 500px;
    //width: 500px;
    background-color: $panel-bg;    
    border: 4px solid $border;
    border-radius: 5px;
}


.canvas-container {
    position: relative;
}

.canvas {
    // the 3 below make the image fit into the container width
    position: relative;
    width: 100%;
    height: auto;
    // border: 1px solid $border;
    border-radius: 6px;
    display: block;
}

.about-section {
    margin-top: auto;
    font-size: 0.9rem;
    color: #aaa;
    padding: 1rem;
    max-width: 500px;
    a {
        color: #66aaff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1100px) {
    .body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}