$app-bg: #111;
$panel-bg: #181818;
$accent: #ffce4a;
$border: #262626;

* {box-sizing: border-box;}

body, html, .app {
    background-color: $app-bg;
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    //justify-content: center;
}


.title {
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
    color: $accent;
    padding-bottom: 1rem;
}

.body {
    font-family: Arial, sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.controls-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem 1rem; // row-gap column-gap
    padding: 1rem;
    background: $panel-bg;
    border-bottom: 1px solid $border;
}

.control-row {
    // create 3 column grid
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-items: center;
}

section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 500px;
    //width: 500px;
    background-color: $panel-bg;    
    border: 2px solid $border;
}


.canvas-container {
    position: relative;
}

.canvas {
    // the 3 below make the image fit into the container width
    position: relative;
    width: 100%;
    height: auto;
    border: 1px solid $border;
    border-radius: 6px;
    display: block;
}

@media (max-width: 800px) {
    .body {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}