$app-bg: #111;
$panel-bg: #181818;
$accent: #ffce4a;
$border: #262626;

* {box-sizing: border-box;}

body, html, .app {
    background-color: $app-bg;
    font-family: Arial, sans-serif;
    color: blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
}

.title{
    margin: 1rem 0 0.5rem 0;
    font-size: 2rem;
    color: $accent;
}

section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 100%;
    width: 500px;
    background-color: $panel-bg;    
    border: 2px solid $border;
}

.canvas-container {
    position: relative;
    display: inline-block;
    width: 100%;
    //border: 1px solid $border;
    //border-radius: 6px;
    //overflow: hidden;
}

.canvas {
    // the 3 below make the image fit into the container width
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid $border;
    border-radius: 6px;
    display: block;
    // top: 0;
    // left: 0;
    // touch-action: none;
}

