.palette-container {
    //display: flex;
    //flex-direction: column;
    //align-items: flex-end;
    // justify-content: flex-start;
    display: grid;
    //grid-template-rows: auto auto;
    //justify-items: end; // right align first row
    align-items: start;
    //justify-items: stretch;
    width: 100%;
    padding: 1rem;
}

.palette-text {
    justify-self: end;
    font-size: 1rem;
    color: #ccc;
    //text-transform: uppercase;
    //margin: 1rem 0;
    a {
        color: #66aaff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.palette-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    //grid-template-rows: auto;
    //grid-auto-rows: 140px;
    //grid-auto-rows: min-content;
    //grid-auto-rows: auto;
    align-items: start;
    gap: 0.65rem;
}

.palette-grid .swatch {
    display: flex;
    flex-direction: column;
    //border: none;
    //border-radius: 8px;
    //height: 100%;
    //overflow: visible;
    cursor: pointer;
    //height: 200px;
    //background: transparent;
    transition: transform .12s ease, box-shadow .12s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.palette-grid .swatch-color {
    //aspect-ratio: 1 / 1;
    flex: 1 1 auto;
    background: var(--swatch-color, #222);
    border-radius: 8px 8px 0 0;
    //overflow: hidden;
}

.palette-grid .swatch-label {
    background: #1a1a1a;
    color: #bbb;
    font-size: 0.7rem;
    line-height: 1.3;
    padding: 6px 4px;
    text-align: center;
    font-weight: 500;
    font-family: 'Courier New', monospace;
    letter-spacing: 0.02rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #282828;
}


