.palette-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    .swatch{
        flex: 1 1 calc(20% - 0.5rem);
        aspect-ratio: 1/1;
        background: #222;
        border: 2px solid #333;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        transition: background .15s;
        &:hover { background: #2e2e2e; }
    }
}

