.slider-container {
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // gap: 0.75rem;
    // //font-size: 0.85rem;
    // padding: 10px;
    display: contents; // participates in parent grid (.control-row)
}

.slider-text{
    font-size: 1rem;
    color: #ccc
}

.slider-input {
    //max-width: 100%;
    width: 100%;
    //width: 60%;
}